USE [master]
GO
/****** Object:  Database [AnticiposLegalizaciones]    Script Date: 5/08/2025 3:00:05 p. m. ******/
CREATE DATABASE [AnticiposLegalizaciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnticiposLegalizaciones', FILENAME = N'C:\Users\cristiam.cadena\AnticiposLegalizaciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnticiposLegalizaciones_log', FILENAME = N'C:\Users\cristiam.cadena\AnticiposLegalizaciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnticiposLegalizaciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnticiposLegalizaciones]
GO
/****** Object:  Table [dbo].[Aprobaciones]    Script Date: 5/08/2025 3:00:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprobaciones](
	[idAprobación] [int] NOT NULL,
	[estado] [varchar](50) NULL,
	[mensaje] [varchar](50) NULL,
	[fecha] [date] NULL,
	[idUsuario] [int] NULL,
	[idProcesoVinculado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAprobación] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 5/08/2025 3:00:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[idContrato] [int] NOT NULL,
	[codigo] [varchar](40) NULL,
	[estado] [varchar](20) NULL,
	[servicio] [varchar](50) NULL,
	[fechaInicio] [date] NULL,
	[fechaFin] [date] NULL,
	[empresa] [varchar](50) NULL,
	[referencia] [varchar](50) NULL,
	[idUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 5/08/2025 3:00:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[idDocumento] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
	[archivo] [varbinary](max) NULL,
	[idUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 5/08/2025 3:00:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[idNotificacion] [int] NOT NULL,
	[Origen] [varchar](50) NULL,
	[tipo] [varchar](40) NULL,
	[mensaje] [varchar](100) NULL,
	[idUsuario] [int] NULL,
	[idProcesoVinculado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcesosVinculados]    Script Date: 5/08/2025 3:00:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcesosVinculados](
	[idProcesoVinculado] [int] NOT NULL,
	[codigo] [int] NULL,
	[estado] [varchar](50) NULL,
	[funcionario] [varchar](50) NULL,
	[fecha_solicitud] [date] NULL,
	[autorizador] [varchar](50) NULL,
	[contrato] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
	[valor] [numeric](18, 0) NULL,
	[idUsuario] [int] NULL,
	[idContrato] [int] NULL,
	[idDocumento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProcesoVinculado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 5/08/2025 3:00:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] NOT NULL,
	[tipo_documento] [varchar](20) NULL,
	[numero_documento] [numeric](12, 0) NULL,
	[nombres] [varchar](40) NULL,
	[apellidos] [varchar](40) NULL,
	[telefono] [numeric](10, 0) NULL,
	[lugar_expedicion] [varchar](50) NULL,
	[fecha_expedicion] [date] NULL,
	[nacionalidad] [varchar](30) NULL,
	[direccion] [varchar](100) NULL,
	[lugar_nacimiento] [varchar](50) NULL,
	[departamento] [varchar](30) NULL,
	[ciudad] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aprobaciones]  WITH CHECK ADD  CONSTRAINT [FK_aprobaciones_procesosVinculados] FOREIGN KEY([idProcesoVinculado])
REFERENCES [dbo].[ProcesosVinculados] ([idProcesoVinculado])
GO
ALTER TABLE [dbo].[Aprobaciones] CHECK CONSTRAINT [FK_aprobaciones_procesosVinculados]
GO
ALTER TABLE [dbo].[Aprobaciones]  WITH CHECK ADD  CONSTRAINT [Fk_aprobaciones_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Aprobaciones] CHECK CONSTRAINT [Fk_aprobaciones_usuarios]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_contratos_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_contratos_usuarios]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_documentos_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_documentos_usuarios]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_notificaciones_procesosVinculados] FOREIGN KEY([idProcesoVinculado])
REFERENCES [dbo].[ProcesosVinculados] ([idProcesoVinculado])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_notificaciones_procesosVinculados]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_notificaciones_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_notificaciones_usuarios]
GO
ALTER TABLE [dbo].[ProcesosVinculados]  WITH CHECK ADD  CONSTRAINT [FK_procesosVinculados_contratos] FOREIGN KEY([idContrato])
REFERENCES [dbo].[Contratos] ([idContrato])
GO
ALTER TABLE [dbo].[ProcesosVinculados] CHECK CONSTRAINT [FK_procesosVinculados_contratos]
GO
ALTER TABLE [dbo].[ProcesosVinculados]  WITH CHECK ADD  CONSTRAINT [FK_procesosVinculados_documentos] FOREIGN KEY([idDocumento])
REFERENCES [dbo].[Documentos] ([idDocumento])
GO
ALTER TABLE [dbo].[ProcesosVinculados] CHECK CONSTRAINT [FK_procesosVinculados_documentos]
GO
ALTER TABLE [dbo].[ProcesosVinculados]  WITH CHECK ADD  CONSTRAINT [FK_procesosVinculados_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[ProcesosVinculados] CHECK CONSTRAINT [FK_procesosVinculados_usuarios]
GO
USE [master]
GO
